// 主题
$theme: (
  light: (
    main: #00b96b,
    vice: #29cbff,
    text: #000,
    fore: #fff,
    back: #f5f5f5,
    land: #ff9900,
    link: #dd7f49,
    code: #e23861,
    well: #3fa362,
    warn: #fb9a2a,
    risk: #ff563f,
    info: #0889e4,
    fund: #ff0000
  ),
  dark: (
    main: #67c5f4,
    vice: #b54eea,
    text: rgba(255, 255, 255, 0.9),
    fore: #1d1d1d,
    back: #161616,
    land: #ff9900,
    link: #dd7f49,
    code: #e23861,
    well: #4bbc73,
    warn: #fb9a2a,
    risk: #f95850,
    info: #0889e4,
    fund: #ff0000
  )
);

// 核心
@import '@mcui/core';

body {
  padding: 1.5em;
}

pre {
  padding: 0.5em;
  @include theme {
    background-color: co(fore);
  }
}
